USE [master]
GO
/****** Object:  Database [DebtsManagerDB]    Script Date: 6/29/2026 3:20:36 PM ******/
CREATE DATABASE [DebtsManagerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DebtsManagerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DebtsManagerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DebtsManagerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DebtsManagerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DebtsManagerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DebtsManagerDB]
GO
/****** Object:  Table [dbo].[Debts]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Debts](
	[ID] [uniqueidentifier] NOT NULL,
	[UserID] [int] NOT NULL,
	[PersonID] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[PaidAmount] [decimal](18, 2) NULL,
	[IsPaidToMe] [bit] NULL,
	[IsSettled] [bit] NULL,
	[Date] [nvarchar](50) NULL,
	[Note] [nvarchar](500) NULL,
	[UpdateAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[ID] [uniqueidentifier] NOT NULL,
	[UserID] [int] NOT NULL,
	[DebtID] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[Date] [nvarchar](50) NULL,
	[UpdateAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[ID] [uniqueidentifier] NOT NULL,
	[UserID] [int] NOT NULL,
	[Fullname] [nvarchar](200) NULL,
	[Phone] [nvarchar](50) NULL,
	[Imagepath] [nvarchar](500) NULL,
	[UpdateAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[ID] [uniqueidentifier] NOT NULL,
	[DebtID] [uniqueidentifier] NULL,
	[PaymentID] [uniqueidentifier] NULL,
	[Amount] [decimal](18, 2) NULL,
	[Date] [nvarchar](50) NULL,
	[UpdateAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GoogleID] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[Name] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Debts] ([ID], [UserID], [PersonID], [Amount], [PaidAmount], [IsPaidToMe], [IsSettled], [Date], [Note], [UpdateAt]) VALUES (N'5c01671e-90f8-4250-8dc2-23e9eede0f04', 1014, N'3da0d6b2-6b3e-4cfb-926b-3a82d83e9da1', CAST(20000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), 0, 0, N'2026-06-27', NULL, CAST(N'2026-06-27T03:01:33.330' AS DateTime))
INSERT [dbo].[Debts] ([ID], [UserID], [PersonID], [Amount], [PaidAmount], [IsPaidToMe], [IsSettled], [Date], [Note], [UpdateAt]) VALUES (N'84bc8efb-2861-4817-beae-671adda7a0c8', 1014, N'8df0a017-2cdd-4073-a0d5-01244a8b2876', CAST(10000.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)), 0, 0, N'2026-06-27', NULL, CAST(N'2026-06-27T03:05:38.910' AS DateTime))
INSERT [dbo].[Debts] ([ID], [UserID], [PersonID], [Amount], [PaidAmount], [IsPaidToMe], [IsSettled], [Date], [Note], [UpdateAt]) VALUES (N'b46d7810-1723-486b-9c9d-757e4352edb0', 1015, N'ddbce811-482a-48d1-aaa5-60f16aeba9df', CAST(50000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), 0, 0, N'2026-06-28', NULL, CAST(N'2026-06-28T02:46:29.827' AS DateTime))
GO
INSERT [dbo].[Payments] ([ID], [UserID], [DebtID], [Amount], [Date], [UpdateAt]) VALUES (N'64967190-0ed4-4cd4-9673-0708d0687a69', 1015, N'b46d7810-1723-486b-9c9d-757e4352edb0', CAST(5000.00 AS Decimal(18, 2)), N'2026-06-28', CAST(N'2026-06-28T02:46:35.147' AS DateTime))
INSERT [dbo].[Payments] ([ID], [UserID], [DebtID], [Amount], [Date], [UpdateAt]) VALUES (N'982231ca-e936-49cb-bd9d-366e007d986c', 1014, N'5c01671e-90f8-4250-8dc2-23e9eede0f04', CAST(5000.00 AS Decimal(18, 2)), N'2026-06-27', CAST(N'2026-06-27T03:01:39.910' AS DateTime))
INSERT [dbo].[Payments] ([ID], [UserID], [DebtID], [Amount], [Date], [UpdateAt]) VALUES (N'636f2e5b-a389-4845-8c4c-567e34948112', 1011, N'abe76ab2-a816-4f3c-836a-a0f622b15764', CAST(10000.00 AS Decimal(18, 2)), N'2026-06-27', CAST(N'2026-06-27T03:01:06.150' AS DateTime))
GO
INSERT [dbo].[People] ([ID], [UserID], [Fullname], [Phone], [Imagepath], [UpdateAt]) VALUES (N'8df0a017-2cdd-4073-a0d5-01244a8b2876', 1014, N'هوائي', NULL, NULL, CAST(N'2026-06-27T03:05:38.887' AS DateTime))
INSERT [dbo].[People] ([ID], [UserID], [Fullname], [Phone], [Imagepath], [UpdateAt]) VALUES (N'3da0d6b2-6b3e-4cfb-926b-3a82d83e9da1', 1014, N'ناري', NULL, NULL, CAST(N'2026-06-27T03:01:33.303' AS DateTime))
INSERT [dbo].[People] ([ID], [UserID], [Fullname], [Phone], [Imagepath], [UpdateAt]) VALUES (N'ddbce811-482a-48d1-aaa5-60f16aeba9df', 1015, N'محمد علي', NULL, NULL, CAST(N'2026-06-28T02:46:29.820' AS DateTime))
GO
INSERT [dbo].[Transactions] ([ID], [DebtID], [PaymentID], [Amount], [Date], [UpdateAt]) VALUES (N'ec15ca7a-3adc-4e77-8bf0-30e310d1c90b', N'84bc8efb-2861-4817-beae-671adda7a0c8', N'b545496d-019b-492f-9a1d-fa41774b5cb8', CAST(1000.00 AS Decimal(18, 2)), N'2026-06-27', CAST(N'2026-06-27T03:05:45.947' AS DateTime))
INSERT [dbo].[Transactions] ([ID], [DebtID], [PaymentID], [Amount], [Date], [UpdateAt]) VALUES (N'd905a834-2201-486e-a62e-37c3de2838fa', N'f7635d56-5ec4-4f2b-9a79-e8267bec6f34', N'e2560103-09d2-447e-8612-6c09abd41799', CAST(5000.00 AS Decimal(18, 2)), N'2026-06-28', CAST(N'2026-06-28T02:26:15.793' AS DateTime))
INSERT [dbo].[Transactions] ([ID], [DebtID], [PaymentID], [Amount], [Date], [UpdateAt]) VALUES (N'c1aeef1f-df70-4fb4-9b01-4dab0059b52f', N'abe76ab2-a816-4f3c-836a-a0f622b15764', N'636f2e5b-a389-4845-8c4c-567e34948112', CAST(10000.00 AS Decimal(18, 2)), N'2026-06-27', CAST(N'2026-06-27T03:01:06.170' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [GoogleID], [Email], [Name], [CreatedAt]) VALUES (1011, N'106956322421633540427', N'husham441100@gmail.com', N'هشام', CAST(N'2026-06-27T02:15:32.417' AS DateTime))
INSERT [dbo].[Users] ([ID], [GoogleID], [Email], [Name], [CreatedAt]) VALUES (1014, N'101069860470984198765', N'3reda2o128o1@gmail.com', N'MOHAMMED', CAST(N'2026-06-27T02:27:13.230' AS DateTime))
INSERT [dbo].[Users] ([ID], [GoogleID], [Email], [Name], [CreatedAt]) VALUES (1015, N'116175784981548662121', N'zoom2222zoom2222@gmail.com', N'REDA', CAST(N'2026-06-27T02:42:55.620' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A6FBF31BEF7A4F7E]    Script Date: 6/29/2026 3:20:37 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[GoogleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Debts]  WITH CHECK ADD  CONSTRAINT [FK_Debts_People] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([ID])
GO
ALTER TABLE [dbo].[Debts] CHECK CONSTRAINT [FK_Debts_People]
GO
ALTER TABLE [dbo].[Debts]  WITH CHECK ADD  CONSTRAINT [FK_Debts_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Debts] CHECK CONSTRAINT [FK_Debts_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Debts] FOREIGN KEY([DebtID])
REFERENCES [dbo].[Debts] ([ID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Debts]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Users]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_Users]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Debts] FOREIGN KEY([DebtID])
REFERENCES [dbo].[Debts] ([ID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Debts]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Payments] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payments] ([ID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Payments]
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteDebt]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteDebt]
    @ID UNIQUEIDENTIFIER
AS
BEGIN
    DELETE FROM Debts WHERE ID=@ID
	SELECT @@ROWCOUNT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePayment]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeletePayment]
    @ID UNIQUEIDENTIFIER
AS
BEGIN
    DELETE FROM Payments WHERE ID=@ID
	SELECT @@ROWCOUNT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeletePerson]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeletePerson]
    @ID UNIQUEIDENTIFIER
AS
BEGIN
    DELETE FROM People WHERE ID=@ID
	SELECT @@ROWCOUNT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteTransaction]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteTransaction]
    @ID UNIQUEIDENTIFIER
AS
BEGIN
    DELETE FROM Transactions WHERE ID = @ID
    SELECT @@ROWCOUNT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllDebts]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllDebts]
    @UserID INT
AS
BEGIN
    SELECT 
        *
    FROM Debts d
    WHERE d.UserID = @UserID
    ORDER BY d.IsSettled, d.UpdateAt DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPayments]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllPayments]
    @UserID INT
AS
BEGIN
    SELECT *
    FROM Payments
    WHERE UserID = @UserID
	order by UpdateAt desc
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllPeople]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllPeople]
    @UserID INT
AS
BEGIN
    SELECT *
    FROM People
    WHERE UserID = @UserID
	order by UpdateAt desc

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllTransactions]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllTransactions]
    @UserID INT
AS
BEGIN
    SELECT *
    FROM Transactions
    WHERE DebtID IN (SELECT ID FROM Debts WHERE UserID = @UserID)
	order by UpdateAt desc
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetDebtByID]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetDebtByID]
    @ID UNIQUEIDENTIFIER
AS
BEGIN
    SELECT *
    FROM Debts
    WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPaymentsByDebtID]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetPaymentsByDebtID]
    @DebtID UNIQUEIDENTIFIER
AS
BEGIN
    SELECT * FROM Payments WHERE DebtID = @DebtID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPersonByID]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_GetPersonByID]
    @ID UNIQUEIDENTIFIER
AS
BEGIN
    SELECT *
    FROM People
    WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserByEmail]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[SP_GetUserByEmail]
    @Email NVARCHAR(100)
AS
BEGIN
    SELECT * FROM Users WHERE Email = @Email
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserByGoogleID]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetUserByGoogleID]
    @GoogleID NVARCHAR(100)
AS
BEGIN
    SELECT * FROM Users WHERE GoogleID = @GoogleID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserByID]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetUserByID]
    @ID INT
AS
BEGIN
    SELECT * FROM Users WHERE ID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertDebt]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertDebt]
    @ID UNIQUEIDENTIFIER,
    @UserID INT,
    @PersonID UNIQUEIDENTIFIER,
    @Amount DECIMAL(18,2),
    @PaidAmount DECIMAL(18,2),
    @IsPaidToMe BIT,
    @IsSettled BIT,
    @Date NVARCHAR(50),
    @Note NVARCHAR(500),
	@UpdateAt DateTime,
    @NewID UNIQUEIDENTIFIER OUTPUT
AS
BEGIN
    INSERT INTO Debts (ID, UserID, PersonID, Amount, PaidAmount, IsPaidToMe, IsSettled, Date, Note, UpdateAt)
    VALUES (@ID,@UserID, @PersonID, @Amount, @PaidAmount, @IsPaidToMe, @IsSettled, @Date, @Note, @UpdateAt)
    SET @NewID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertPayment]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InsertPayment]
    @ID UNIQUEIDENTIFIER,
    @UserID INT,
    @DebtID UNIQUEIDENTIFIER,
    @Amount DECIMAL(18,2),
    @Date NVARCHAR(50),
	@UpdateAt DateTime,
    @NewID UNIQUEIDENTIFIER OUTPUT
AS
BEGIN
    INSERT INTO Payments (ID, UserID, DebtID, Amount, Date, UpdateAt)
    VALUES (@ID, @UserID, @DebtID, @Amount, @Date, @UpdateAt)
    SET @NewID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertPerson]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InsertPerson]
    @ID UNIQUEIDENTIFIER,
    @UserID INT,
    @Fullname NVARCHAR(200),
    @Phone NVARCHAR(50),
    @Imagepath NVARCHAR(500),
	@UpdateAt dateTime,
    @NewID UNIQUEIDENTIFIER OUTPUT
AS
BEGIN
    INSERT INTO People (ID, UserID, Fullname, Phone, Imagepath, UpdateAt)
    VALUES (@ID, @UserID, @Fullname, @Phone, @Imagepath, @UpdateAt)
    SET @NewID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertTransaction]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InsertTransaction]
    @ID UNIQUEIDENTIFIER ,
    @DebtID UNIQUEIDENTIFIER ,
    @PaymentID UNIQUEIDENTIFIER ,
    @Amount DECIMAL(18,2),
    @Date NVARCHAR(50),
	@UpdateAt DateTime,
    @NewID UNIQUEIDENTIFIER  OUTPUT
AS
BEGIN
    INSERT INTO Transactions (ID,DebtID, PaymentID, Amount, Date, UpdateAt)
    VALUES (@ID,@DebtID, @PaymentID, @Amount, @Date, @UpdateAt)
    SET @NewID = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertUser]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertUser]
    @GoogleID NVARCHAR(100),
    @Email NVARCHAR(200),
    @Name NVARCHAR(200),
    @NewID INT OUTPUT
AS
BEGIN
    INSERT INTO Users (GoogleID, Email, Name, CreatedAt)
    VALUES (@GoogleID, @Email, @Name, GETDATE())
    SET @NewID = SCOPE_IDENTITY()
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsExistDebt]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsExistDebt]
    @ID UNIQUEIDENTIFIER
AS
BEGIN
    SELECT CASE 
        WHEN EXISTS (SELECT 1 FROM Debts WHERE ID=@ID)
        THEN 1 ELSE 0 END AS Result
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsExistPayment]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsExistPayment]
    @ID UNIQUEIDENTIFIER
AS
BEGIN
    SELECT CASE 
        WHEN EXISTS (SELECT 1 FROM Payments WHERE ID=@ID)
        THEN 1 ELSE 0 END AS Result
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsExistPerson]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsExistPerson]
    @ID UNIQUEIDENTIFIER
AS
BEGIN
    SELECT CASE 
        WHEN EXISTS (SELECT 1 FROM People WHERE ID=@ID)
        THEN 1 ELSE 0 END AS Result
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsExistTransaction]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsExistTransaction]
    @ID UNIQUEIDENTIFIER
AS
BEGIN
    SELECT CASE 
        WHEN EXISTS (SELECT 1 FROM Transactions WHERE ID=@ID)
        THEN 1 ELSE 0 END AS Result
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsExistUser]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IsExistUser]
    @ID Int
AS
BEGIN
    SELECT CASE 
        WHEN EXISTS (SELECT 1 FROM Users WHERE ID=@ID)
        THEN 1 ELSE 0 END AS Result
END
GO
/****** Object:  StoredProcedure [dbo].[SP_IsExistUserByGoogleID]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SP_IsExistUserByGoogleID]
    @GoogleID NVARCHAR(255)
AS
BEGIN
    SELECT CASE 
        WHEN EXISTS (SELECT 1 FROM Users WHERE GoogleID = @GoogleID)
        THEN 1 ELSE 0 END AS Result
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateDebt]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateDebt]
    @ID UNIQUEIDENTIFIER , @Amount DECIMAL(18,2), @PaidAmount DECIMAL(18,2),
    @IsPaidToMe BIT, @IsSettled BIT, 
    @Date NVARCHAR(50), @Note NVARCHAR(500)
AS
BEGIN
    UPDATE Debts SET Amount=@Amount, PaidAmount=@PaidAmount,
    IsPaidToMe=@IsPaidToMe, IsSettled=@IsSettled, Date=@Date, Note=@Note
    WHERE ID=@ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdatePerson]    Script Date: 6/29/2026 3:20:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdatePerson]
    @ID UNIQUEIDENTIFIER, @Fullname NVARCHAR(200), 
    @Phone NVARCHAR(50), @Imagepath NVARCHAR(500)
AS
BEGIN
    UPDATE People SET Fullname=@Fullname, Phone=@Phone, Imagepath=@Imagepath
    WHERE ID=@ID
END
GO
USE [master]
GO
